nav .navbar-brand
{
font-size: xx-large
}

hr.new2
{
border: 0;
height: 1px;
max-width: 100%;
background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body
{
background-color: #E9EBEE;
max-width: 100%;
overflow-x: hidden;
padding-top: 65px;
}

#read
{
position: absolute;
bottom: -1em;
right: 2em;
box-shadow:inset 0px -1px 7px 0px #0780b8;
background-color:#1375ad;
cursor:pointer;
color:#ffffff;
font-size:15px;
padding:9px 23px;
text-decoration:none;
text-shadow:0px 1px 0px #263666;
border-radius: 10px !important;
}

#read:hover
{
background-color:#3689d1;
}

#read:active
{
border: 1px black solid;
color: grey;
}

#articlec
{
text-align: justify;
font-family: roboto;
max-width: 100%;
width: 70%;
padding: 2rem;
background-color: rgb(248, 249, 250, 0.5);
border-radius: 2px;
color: #141823;
}

#scrolline
{
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
width: 100%;
background: #fff;
border-bottom: 1px solid #ccc;
}

.scroll-line
{
height: 2px;
margin-bottom: -2px;
background: blue;
width: 0%;
}

#editForm
{
padding-right:  2.5vw;
}

#tileprev
{
padding: 1em;
margin : 2em;
position: relative;
width: 20rem;
height: 20rem;
border-radius: 10px !important;
border-color: transparent;
background-color: rgb(248, 249, 250, 0.85);
border-radius: 2px;
color: #141823;
display: flex;
flex-shrink: 1;
-moz-box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow: 3px 3px 5px 6px #ccc;

}

#contentArea
{
width: 100%;
min-height: 20em;
outline: none;
resize: none;
}

#logo
{
max-width: height:100%;
max-height: : 100%;
}

#titlea
{
float: left;
padding-top: 100px !important;
width: 25%;
display: none;
text-align: center;
}

#titleb
{
padding-top : 1rem;
padding-top: 50px;
width: 100%;
text-align: center;
}

.flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items:stretch;
justify-content: center;
overflow-y: hidden;
}

#tilecontent
{
position: absolute;
top: 55%;
left: 0;
text-align: left;
font-family: roboto;
margin: 1px;
font-size: 25px;
overflow:hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

#imgtile
{
position: absolute;
top: 0;
left: 0;
width: 100%;
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
height: 50%;
-webkit-box-shadow:0px 1px 1px #1d37de;
-moz-box-shadow:0px 1px 1px #1d37de;
box-shadow:0px 1px 1px #1d37de;
}

.controls
{
position: absolute;
right: 1em;
padding: 0 !important;
z-index:99;
}

#editordiv
{
padding: 2rem 2rem 0rem 2rem;
border-bottom: 0rem;
}

#formdiv
{
padding: 2rem 2rem 0rem 2rem;
border-bottom: 0rem;
text-align: center;
}

.form-control
{
margin-bottom: 1rem;
}

#contactblock
{
position: absolute;
left: 50%;
top: 50%;
width: calc(75vh - 22px);
height: calc(50vh - 16px);
max-width: 90%;
background-color: rgb(248, 249, 250, 1);
-moz-box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow: 3px 3px 5px 6px #ccc;
transform: translate(-50%, -50%);
text-align: center;
border-radius: 10px;

}

.insidecontact
{
font-size: calc(22px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
position: absolute;
bottom: 0;
}

#contacttext
{
font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
font-style: oblique;
margin: 0 1vh auto 1vh;
}

#contacttitle
{
text-align: center;
margin-top: 1vh; 
font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#contactname
{
text-align: right !important;
font-style: italic;
margin-left: 60%;
font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#flow
{
overflow-x: hidden;
}
