/* Global */
body
{
background-color: #E9EBEE;
max-width: 100%;
overflow-x: hidden;
}

nav .navbar-brand
{
font-size: xx-large
}

hr.new2
{
border: 0;
height: 1px;
max-width: 100%;
background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#flow
{
overflow-x: hidden;
}

.flex-container 
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items:stretch;
justify-content: center;
overflow-y: hidden;
}

#logo
{
max-width: 100%;
max-height: 100%;
}


/* Index */
#read
{
position: absolute;
bottom: -1em;
right: 2em;
box-shadow:inset 0px -1px 7px 0px #0780b8;
background-color:#1375ad;
cursor:pointer;
color:#ffffff;
font-size:15px;
padding:9px 23px;
text-decoration:none;
text-shadow:0px 1px 0px #263666;
border-radius: 2px;
}
#read:hover
{
background-color:#3689d1;
}
#read:active
{
border: 1px black solid;
color: grey;
}

#tileprev
{
padding: 1em;
margin : 2em;
position: relative;
width: 350px ;
height: 350px;
border-radius: 2px ;
border-color: transparent;
background-color: rgb(248, 249, 250, 0.85);
border-radius: 2px;
color: #141823;
-moz-box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow: 3px 3px 5px 6px #ccc;
}
#tilecontent
{
position: absolute;
top: 55%;
left: 0;
text-align: left;
font-family: roboto;
margin: 1px;
font-size: 25px;
overflow:hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

#imgtile
{
position: absolute;
top: 0;
left: 0;
width: 100%;
border-top-left-radius: 2px ;
border-top-right-radius: 2px ;
height: 50%;
-webkit-box-shadow:0px 1px 1px #212124;
-moz-box-shadow:0px 1px 1px #212124;
box-shadow:0px 1px 1px #212124;
}

.controls
{
position: absolute;
right: 1em;
padding: 0 !important;
z-index:99;
}

.close
{
cursor:pointer;
outline: none !important;
}

#editForm
{
padding-right:  2.5vw;
}


/* Post */
#articlec
{
font-family: roboto;
max-width: 100%;
width: 70%;
padding: 2rem;
margin-bottom: 20px;
background-color: rgb(248, 249, 250, 1);
border-radius: 2px;
}

#scrolline
{
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
width: 100%;
background: #fff;
border-bottom: 1px solid #ccc;
}
.scroll-line
{
height: 2px;
margin-bottom: -2px;
background: blue;
width: 0%;
}

#titlea
{
position: fixed;
padding-bottom: 50px ;
width: 25%;
height: 100%;
display: none;
text-align: center;
overflow-y: scroll;
margin: 1vh;
}
#titlea::-webkit-scrollbar {
display: none;
}
#titleb
{

width: 100%;
text-align: center;
padding-top: 2vh;
}

#sources
{
text-align: left;
}


/* Add/Edit */
#editordiv
{
padding: 2rem 2rem 0rem 2rem;
border-bottom: 0rem;
}

#formdiv
{
padding: 2rem 2rem 0rem 2rem;
border-bottom: 0rem;
text-align: center;
}
.form-control
{
margin-bottom: 1rem;
}


/* Contact*/
#contactblock
{
position: absolute;
left: 50%;
top: 50%;
width: calc(75vh - 22px);
height: calc(50vh - 16px);
max-width: 90%;
background-color: rgb(248, 249, 250, 1);
-moz-box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow: 3px 3px 5px 6px #ccc;
transform: translate(-50%, -50%);
text-align: center;
border-radius: 10px;
}

.insidecontact
{
font-size: calc(22px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
position: absolute;
bottom: 0;
}

#contacttext
{
font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
font-style: oblique;
margin: 0 1vh auto 1vh;
}

#contacttitle
{
text-align: center;
margin-top: 1vh; 
font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#contactname
{
text-align: right !important;
font-style: italic;
margin-left: 60%;
font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


/* Sources */
#sourcesblock
{
position: absolute;
left: 50%;
top: 50%;
width: calc(150vh - 22px);
height: calc(60vh - 16px);
max-width: 90%;
background-color: rgb(248, 249, 250, 1);
-moz-box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow: 3px 3px 5px 6px #ccc;
transform: translate(-50%, -50%);
text-align: center;
border-radius: 10px;
padding: 2vh;
}
#sourceForm
{
text-align: left;
overflow-y: scroll;
max-height: 100%;
}
#sourceForm::-webkit-scrollbar {
display: none;
}

#deleteSource
{
position: absolute;
right: 0;
color: rgba(0, 0, 0, 0.75);
}
#deleteSource:hover
{
color: red;
}

/* Motivateur */

#motivateurId
{
position: absolute;
width: 80%;
left: 50%;
transform: translate(-50%);
}
#btnMotiv
{
position: absolute;
width: 20vh;
margin-bottom: 1em;
}

/* Scrambbler/Uploader */

.center-div
{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

#imgup
{
margin-top: 10px;
border: steelblue;
border-style: solid;
border-radius: 2px;
padding: 10px;
max-width: 200px;
}

/* Side Panel */
.sidenav 
{
height: 100%; 
width: 0; 
position: fixed; 
z-index: 1; 
top: 0; 
left: 0;
background: white;
overflow-x: hidden; 
transition: 0.5s; 
}

.sidenav a
{
padding: 8px 8px 8px 32px;
font-size: 25px;
display: block;
transition: 0.3s;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#closepanel
{
position: absolute;
right: 10px;
font-size: 25px;
color: #818181;
cursor: pointer;
}

#viewPanel
{
color: blue;
visibility: hidden;
}


/* Instascrap */

#instapres
{
text-align: center;
font-size: large;
padding-top: 10px;
}
#dlbtn
{
position: relative;
margin-top: 10px;
margin-bottom: 10px;
left: 50%;
transform: translate(-50%);
}


#loader 
{
display: inline-block;
width: 80px;
height: 80px;
position: relative;
left: 50%;
transform: translate(-50%);
margin-bottom: 50px;
visibility: hidden;
}
#loader:after 
{
content: " "; 
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid #fff;
border-color: #fff transparent #fff transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

