{% extends "blog/base.html" %}

{% block title %}
Add
{% endblock %}


{% block main %}

<!-- Post Form -->
<form action="{% url 'add' %}" method="post" id="postForm">
{% csrf_token %}

<div class="form-group">
<div class="flex-container">

  <div id="editordiv">
  <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"  required/>
  <textarea id="editor" name="content" type="text" autocomplete="off"></textarea>
  </div>

  <div id="formdiv">
  <input class="form-control" name="subtitle" placeholder="Subtitle" type="text" autocomplete="off" required/>
  <input class="form-control" name="author" placeholder="Author" type="text" autocomplete="off" required/>
  <input class="form-control" name="img" placeholder="Preview Image" type="text" autocomplete="off" value="/static/tile.jpg"/>
  <button class="btn btn-primary" type="subtmit" id="postbutton">Post</button>
  </div>

</div>
</form>

{% endblock %}
