{% extends "blog/base.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}


<div class="flex-container" id="contactblock">
<p id="contacttitle"> Webmaster's Contact<p>
<p id="contacttext">If you have any suggestion about the website or it's content and you want to contact me, I invite you to use one of the info listed below.<p>
<p id="contactname">Clement Zitouni<p>

<div class="insidecontact">
<a href="https://github.com/lomptorne" target="_blank"><i class="fab fa-github"></i></a>
•
<a href="https://www.linkedin.com/in/cazitouni/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
•
<a href="mailto:cazitouni@gmail.com"><i class="fas fa-envelope-open-text"></i></a>
</div>
</div>





{% endblock %}
