{% extends "blog/base.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

{% if messages %}
  {% for message in messages %}
<script>
  alert("{{ message }}")
</script>
{% endfor %}
{% endif %}

<!-- Loop to colect the post stocked on the database -->
<div class="flex-container">
{% for Blogpost in Blogposts %}
<!-- Article tile -->


  <!-- Edit and Delete button if the session is on -->

<div id="tileprev" class="box">

{% if request.user.is_superuser %}
<form  class="controls"  action="{% url 'delete' Blogpost.id %}" id="deleteForm" onsubmit="return confirm('Do you really want to delete this post ?');">
  <button type="submit" class="close" aria-label="Close"><i class="far fa-trash-alt"></i></button>
</form>
<form class="controls" style="right: 3em" action="{% url 'edit' Blogpost.id %}" id="editForm">
<button type="submit" class="close" aria-label="Close"><i class="far fa-edit"></i></button>
</form>
{% endif %}

  <img id="imgtile" src="{{ Blogpost.img }}" alt="ArtilePreview">
  <!-- Title and abstract of the article  -->
  <div class="col" id="tilecontent">
  {{ Blogpost.title }}
  </div>

  <a href="{% url 'post' Blogpost.title %}">
  <button  id="read" class="btn btn-primary">Read <i class="fas fa-arrow-right"></i></button>
  </a>

  </div>


{% endfor %}
</div>
{% endblock %}
