{% extends "blog/base.html" %}

{% block title %}
  Motivateur
{% endblock %}

{% block main %}
<h1 style="text-align: center; padding-top: 2vh;">Générateur de lettre de motivation</h1>
<form action="{% url 'motivateur' %}" method="post">
{% csrf_token %}
<div class="form-group" id="motivateurId" >


    <label for="name">Nom et prénom</label>
    <input class="form-control" name="name" placeholder="Clément Sedack" type="text" autocomplete="off" id="name"required/>
    <label for="adress">Adresse</label>
    <input class="form-control" name="adress" placeholder="30 Rue Patrick Balkany" type="text" autocomplete="off" id="adress"required/>
    <label for="city">Ville et code postal</label>
    <input class="form-control" name="city" placeholder="92300 Levallois-Perret" type="text" autocomplete="off" id="city"required/>
    <label for="mail">Mail</label>
    <input class="form-control" name="mail" placeholder="csedack@gmail.com" type="text" autocomplete="off" id="mail"required/>
    <label for="phone">Téléphone</label>
    <input class="form-control" name="phone" placeholder="123-456-789" type="text" autocomplete="off" id="phone"required/>
    <label for="job">Intitulé du poste</label>
    <input class="form-control" name="job" placeholder="Vendeur de sable" type="text" autocomplete="off" id="job"required/>
    <label for="diploma">Diplôme</label>
    <input class="form-control" name="diploma" placeholder="Master en étude du vortex" type="text" autocomplete="off" id="diploma"required/>
    <label for="school">Ecole</label>
    <input class="form-control" name="school" placeholder="l'Université de Issou" type="text" autocomplete="off" id="school"required/>

    <div class="row">
        <div class="col">
            <label for="comp1">Compétence 1</label>
            <input class="form-control" name="comp1" placeholder="Survie" type="text" autocomplete="off" id="comp1"required/>
        </div>
        <div class="col">
            <label for="comp2">Compétence 2 </label>
            <input class="form-control" name="comp2" placeholder="Entretien CAF" type="text" autocomplete="off" id="comp2"required/>
        </div>
        <div class="col">
            <label for="comp3">Compétence 3 </label>
            <input class="form-control" name="comp3" placeholder="Baratinage" type="text" autocomplete="off" id="comp3"required/>
        </div>
    </div>
    <label for="contact">Nom du destinataire(avec intitulé)</label>
    <input class="form-control" name="contact" placeholder="Laisser vide si pas de nom" type="text" autocomplete="off" id="contact"/>
    <button class="btn btn-primary" type="submit" id="btnMotiv">Générer</button>
</div>

</form>




{% endblock %}
