{% extends "blog/base.html" %}

{% block title %}
  {{Blogpost.title}}
{% endblock %}

{% block main %}
<!-- Post Header -->
<div id="mainbloc">
  
<div class="sticky-top" id="titlea">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-heading">
        <div  class="position-sticky" id="blockhead">
          <h3>{{ Blogpost.title }}</h3>
          <span class="meta">Posted by {{ Blogpost.author }} on {{ Blogpost.date_posted}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="new2">
</div>

<div  id="titleb">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-heading">
        <div  class="position-sticky" id="blockhead">
          <h1>{{ Blogpost.title }}</h1>
          <span class="meta">Posted by {{ Blogpost.author }} on {{ Blogpost.date_posted}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="new2">
</div>

<!-- Post Content -->
<article>
  <div class="container" id="articlec">
    <div class="row">
       {{ Blogpost.content|safe  }}
    </div>
  </div>
</article>

</div>
<!-- Scrollbar Script -->
<script>
document.getElementById("scrolline").innerHTML = "<div class=\"scroll-line\"></div>";
</script>

{% endblock %}
