{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Scrambbler
{% endblock %}

{% block main %}
<div class="form-group" id="motivateurId" >
  <h1 style="text-align: center; padding-top: 2vh;">Image Scrambler</h1>
  <p id="instapres">A simple tool designed to Scrammble images, based on Japscan.se encryption of mangas pages. 
  </p>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

{{ form|crispy }}
<button class="btn btn-primary" type="submit" onclick="" >Scrambble</button>
<button class="btn btn-primary" type="submit" onclick="" >Unscrambble</button>
</form>
</div>
{% endblock %}
