{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Image Upload
{% endblock %}

{% block main %}
<div class="center-div">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<button class="btn btn-primary" type="submit" onclick="" >Upload</button>
</form>

{% if img_obj %}
<div id="imgup">
<p>Image Uploaded !</p>
<p style="word-wrap: break-word;">Link : <a href="{{ img_obj.picture.url }}" target="_blank" style="width: 100%;">{{ img_obj.picture.url }}</a></p>
</div>
{% endif %}

</div>




{% endblock %}
